<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shantanu.kidzz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Alphabets"
            android:label="@string/alphabet"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Numbers"
            android:label="@string/numbers"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Puzzles"
            android:label="PUZZLES"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".test_main"
            android:label="KIDZZ"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".test_alphabets"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".test_numbers"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".test_drawing"
            android:screenOrientation="portrait"
            />
        <activity android:name=".animals"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>